<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS from local installation -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/app.css">
    <!-- Maptiler JS script and styles -->
    <script crossorigin="anonymous"
        src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css"
        rel="stylesheet">

    <title>YelpCamp</title>
</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %> <!--ejs-mate-->
        <main class="container mt-5">
            <%- include('../partials/flash') %>
                <%- body %> <!--ejs-mate-->
        </main>
        <%- include('../partials/footer') %>

            <script src="/js/validateForms.js"></script>
            <!-- Bootstrap JS from local installation -->
            <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>